.footer {
  background-color: rgb(79, 77, 77);
  height: 10vh;
  padding-bottom: 5px;
  padding-top: 8px;
  text-align: center;

  img {
    width: 3%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    color: #837f7f;
  }
}
